USE [豆瓣数据库]
GO
/****** Object:  Table [dbo].[usert]    Script Date: 11/15/2019 09:50:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[usert](
	[user_id] [int] NOT NULL,
	[label] [char](10) NOT NULL,
	[name] [char](50) NOT NULL,
	[password] [char](100) NOT NULL,
	[phone] [char](15) NOT NULL,
	[email] [char](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[label] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[usert] ADD  DEFAULT ('') FOR [label]
GO
ALTER TABLE [dbo].[usert] ADD  DEFAULT ('') FOR [name]
GO
ALTER TABLE [dbo].[usert] ADD  DEFAULT ('') FOR [password]
GO
ALTER TABLE [dbo].[usert] ADD  DEFAULT ('') FOR [phone]
GO
ALTER TABLE [dbo].[usert] ADD  DEFAULT ('') FOR [email]
GO
